<div class="time-block" *ngIf="show.time" (click)="modalClick($event, 'time-block', 'B')"  [class.hebrew]="lng === 'he'">

	<div class="time-wrap" *ngIf="!show.H && !show.M">

		<div class="time-select  time--mb">
			<div class="cell-parent" (click)="showElement('H')"><p>{{getTimeValue('H')}}</p></div>
			<div class="cell-spacer"></div>
			<div class="cell-parent" (click)="showElement('M')"><p>{{getTimeValue('M')}}</p></div>
		</div>

		<div class="time-btns">
			<button class="close" (click)="showWIDGET(null)">OK</button>
		</div>

	</div>

	<div class="element" *ngIf="show.H" (click)="modalClick($event, 'element', 'H')">
		<div class="element-wrap">
			<p class="element-title">{{LNG[lng].date.th}}</p>

			<div class="hours  time--mb">
				<ul class="box">
					<li class="cell"  *ngFor="let h of hours"
						(click)="cellClick($event, 'H')"
						[class.actual]="h >= 8 && h <= 15"
						[class.selected]="h == select.H">
						{{h}}
					</li>
				</ul>
			</div>

			<div class="time-btns">
				<button class="close" (click)="showElement('H')">OK</button>
			</div>
		</div>
	</div>

	<div class="element" *ngIf="show.M" (click)="modalClick($event, 'element', 'M')">
		<div class="element-wrap">
			<p class="element-title">{{LNG[lng].date.tm}}</p>

			<div class="minutes  time--mb">
				<ul class="box">
					<li class="cell"  *ngFor="let m of minutes"
						(click)="cellClick($event, 'M')"
						[class.selected]="m == select.M">
						{{m}}
					</li>
				</ul>
			</div>

			<div class="time-btns">
				<button class="close" (click)="showElement('M')">OK</button>
			</div>
		</div>
	</div>

</div>