\:host
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

.modal-bg
	width: 100%
	height: 100%
	background-color: transparentize(#000, 0.5)
	display: flex
	justify-content: center
	align-items: center

.time
	width: 350px
	// height: 300px
	background-color: red
	// overflow: auto
	display: flex

.hours
	width: 200px

.minutes
	width: 100px

.cell
	display: inline-block
	width: 100px
	height: 50px
	background-color: blue
	color: #fff
	line-height: 50px
	text-align: center
	margin-bottom: 5px

.selected
	background-color: gold

.overflow
	overflow-y: auto

.spacer
	width: 50px