<div class="time-block" *ngIf="show_time" (click)="modalClick($event, 'time-block', 'B')">

	<div class="time-wrap" *ngIf="!show_H && !show_M">
		
		<div class="time-select">

			<div class="cell-parent" (click)="showElement('H')">
				<p>{{getTimeValue('H')}}</p>
			</div>
			
			<div class="spacer"></div>
			
			<div class="cell-parent" (click)="showElement('M')">
				<p>{{getTimeValue('M')}}</p>
			</div>
			
	</div>

	<br>

	<div class="time-btns">
		<button class="close" (click)="showWIDGET(null)">OK</button>
	</div>
		
	</div>

	<div class="element" *ngIf="show_H" (click)="modalClick($event, 'element', 'H')">
		<div class="element-wrap">
			<p class="ttu">{{LNG[lng].date.th}}</p>
			<br>
			<div class="hours">
				<ul class="box">
					<li class="cell"
					*ngFor="let h of hours"
					(click)="cellClick($event, 'H')"
					[class.actual]="h >= 8 && h <= 15"
					[class.selected]="h == select_H">{{h}}</li>
				</ul>
			</div>
			<br>
			<div class="time-btns">
				<button class="close" (click)="showElement('H')">OK</button>
			</div>
		</div>
	</div>
	
	<div class="element" *ngIf="show_M" (click)="modalClick($event, 'element', 'M')">
		<div class="element-wrap">
			<p class="ttu">{{LNG[lng].date.tm}}</p>
			<br>
			<div class="minutes">
				<ul class="box">
					<li class="cell"
					*ngFor="let m of minutes"
					(click)="cellClick($event, 'M')"
					[class.selected]="m == select_M">{{m}}</li>
				</ul>
			</div>
			<br>
			<div class="time-btns">
				<button class="close" (click)="showElement('M')">OK</button>
			</div>
		</div>
	</div>
	
</div>