@import '../../../../styles.sass'
	
$n_w: 8rem
$n_h: 4rem
$n_bor: 0.3rem
.null
	display: inline-block
	width: $n_w
	height: $n_h
	border: $n_bor solid $color_gold
	border-radius: 0.5rem
	line-height: $n_h - 2 * $n_bor
	text-align: center
	color: #fff
	cursor: pointer

.time-block
	position: fixed
	width: 100%
	height: 100%
	top: 0
	left: 0
	background-color: transparentize(#000, 0.1)
	display: flex
	justify-content: center
	align-items: center

$tw_w: 19rem
.time-wrap
	width: $tw_w

$tw_spacer: 1rem
.spacer
	width: $tw_spacer

.time-select
	width: 100%
	display: flex

$cp_bor: 0.1rem
$cp_h: 5rem
.cell-parent
	width: calc((100% - #{$tw_spacer}) / 2)
	height: $cp_h
	background-color: $color_gold
	border-radius: 0.5rem
	text-align: center
	line-height: $cp_h
	color: #fff
	cursor: pointer

$cl_bor: 0.2rem
$cl_size: 5rem
.time
	&-btns
		width: 100%
		text-align: center
		.close
			width: $cl_size
			height: $cl_size
			background-color: transparentize(#000, 1)
			color: $color_gold
			line-height: $cl_size - $cl_bor * 2
			border-radius: $cl_size
			outline: none
			border: $cl_bor solid $color_gold
			cursor: pointer

.element
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
	background-color: transparentize(#000, 0.3)
	display: flex
	justify-content: center
	align-items: center
	&-wrap
		text-align: center

.box
	display: flex
	flex-wrap: wrap
	justify-content: space-between

$c_w: 6rem
$c_h: 5rem
$c_spacing: 1rem
$c_bor: 0.1rem
.cell
	display: inline-block
	width: $c_w
	height: $c_h
	// background-color: $color_bg_bottom_left
	border-radius: 0.5rem
	border: $c_bor solid $color_gold
	color: #fff
	line-height: $c_h - 2 * $c_bor
	text-align: center
	margin-bottom: $c_spacing
	cursor: pointer

=element-width($_num)
	width: calc(#{$c_w} * #{$_num} + #{$c_spacing} * (#{$_num} - 1))

$hc_row_num: 4
.hours
	+element-width($hc_row_num)

$mc_row_num: 3
.minutes
	+element-width($mc_row_num)

.cell-light
	background-color: transparentize($color_bg_top_right, 0.5)

.selected
	background-color: $color_gold