<div class="null"	(click)="showEdit('show')">
	<div class="null-icon">
		<img src="assets/i/pi_plus.svg" *ngIf="!isEdited()">
		<img src="assets/i/pi_edit.svg" *ngIf="isEdited()">
	</div>
	<div class="null-info" *ngIf="!isEdited()">
		<p>Location information</p>
	</div>
	<div class="null-info  null-info--edited" *ngIf="isEdited()">
		<div class="null-info__item">
			<img src="{{'assets/i/pi_o_t.svg'}}">
			<span>{{info.t[0]}}</span>
		</div>

		<div *ngFor="let o of _render.params" class="null-info__item"  [class.null-info__item--none]="!info[o.t[0]]">
			<img src="{{'assets/i/pi_o_' + o.t[0] + '.svg'}}">
			<span>{{info[o.t[0]]}}</span>
		</div>
	</div>
</div>



<div class="pi" *ngIf="show_modal">

	<div class="pi-type">

		<p>{{"Location type"}}</p>

		<div class="types">
			<div class="type"  *ngFor="let p of _render.types">
				<input type="radio" class="typetoggle"
					name="placetype"
					[id]='p.t'
					[value]='p.t'
					[(ngModel)]="info.t" 
					(change)="onTypeChange()"
					>

				<label class="radio" [for]='p.t'>{{p.t}}</label>
			</div>
		</div>

	</div>

	<div class="pi-wrap">
		<div class="pi-item" *ngFor="let o of _render.params" [class.pi-item--disabled]="disabled('inputs')" [class.pi-item--required]="required(o.t)">
			<p>{{o.t}}</p>
			<div class="pi-item-wrap">
				<div class="pi-item-wrap__icon">
					<img src="{{'assets/i/pi_o_' + o.t[0] + '.svg'}}">
				</div>
				<div class="pi-item-wrap__input">
					<input [type]="o.t === 'entrance' ? 'text' : 'number'" [(ngModel)]="info[o.t[0]]" [disabled]="disabled('inputs')"
						[placeholder]="required(o.t) ? 'required' : ''"
					>
				</div>
			</div>
		</div>

		<div class="pi-btns  p2" style="margin-top: 5rem">
			<button class="close" (click)="showEdit('close')">OK</button>
		</div>

	</div>
</div>