<!-- // PARENT -->
<div class="wrap" [class.none]="!show_list_P">
	<div class="furniture" (click)="selectType($event)">
		<div 
			class="f_item  type" 
			*ngFor="let t of FURNITURE | slice:1" 
			attr.data-id="{{t.id}}">
			
			<img src="../../../assets/f/{{t.id}}/icon.gif">
		</div>
	</div>

	<br>
	<br>
	<div class="btns">
		<button class="close"  (click)="showList('P', false)">✕</button>
	</div>
	<br>
	<br>
</div>

<!-- // ITEM -->
<div class="modal-bg" *ngIf="show_list_I">
	<div class="furniture" (click)="onItemSelected($event)">
		<div 
			class="f_item  item" 
			*ngFor="let f of FURNITURE[PID % 100].types | slice:1" 
			attr.data-id="{{f.id}}">
			
			<img src="../../../assets/f/{{PID}}/i/{{f.id}}.gif">
		</div>
	</div>

	<br>
	<br>
	<div class="btns">
		<button class="close"  (click)="showList('I', false)">✕</button>
	</div>
</div>