@import '~src/styles.sass'

\:host
	width: 100% !important
	height: 100% !important

.root
	width: 100% !important
	height: 100% !important

.navigation
	position: absolute
	bottom: 1rem
	width: 100%
	max-width: 48rem
	@media screen and (max-height: 450px)  // FIX android keyboard
		visibility: hidden
	&-wrap
		display: flex
		justify-content: space-between

.req-step
	width: 100%
	height: 100%
	display: none

.show-page
	display: block
	position: relative

.btn-page
	height: 3rem
	line-height: 2.5rem
	background: none
	color: #fff
	border: 0.2rem solid $color_gold
	border-radius: 0.5rem
	text-align: center
	padding: 0 0.7rem
	font-size: 1.4rem
	text-transform: uppercase


	&--confirm
		width: auto
		text-transform: uppercase
		background-color: $color_gold
		transition: all 0.5s ease
	&--invalid
		border-color: #222
		background-color: #222
		color: #555

.settings
	// width: 2rem
	height: 2rem
	position: absolute
	left: 50%
	transform: translateX(-50%)
	bottom: 0.25rem
	// bottom: 1rem
	img
		width: 100%
	&-lng
		text-transform: uppercase
		color: $color_gold
		margin: 0 0.2rem
		&--side
			font-size: 1.1rem
			opacity: 0.35
			vertical-align: middle

.dtpicker
	+dtpicker

// ////////////////////////////////////////////////////////////////////////////////////////
// ------------------------------------------------------------------------------------- R1
// ////////////////////////////////////////////////////////////////////////////////////////

.hamovil
	text-align: center
	text-transform: uppercase
	font-weight: 500
	padding: 1rem
	margin-bottom: 1rem
	// background-color: #09284b
	color: $color_gold


.circle
	width: 3rem
	div
		width: 1.8rem
		height: 1.8rem
		border: 4px solid $color_green
		border-radius: 100%
		// position: relative
	&--line
		&:after
			content: ''
			display: block
			position: absolute
			top: 2rem
			left: 2.9rem
			width: 0px
			height: calc(100% - 2rem)
			border-left: 1px dashed $color_gold
			z-index: -1
			transform: translateX(-50%)
		&--valid-Y
			&:after
				border-color: $color_green
		&--valid-N
			&:after
				border-color: $color_red
	&--finish
		div
			border-color: #fff !important

.location
	// flex-grow: 2
	width: calc(100% - 3rem)
	&-title
		font-size: 1.2rem
		margin-bottom: 5px
		text-transform: uppercase
	&-address
		display: flex
		border: 0.2rem solid $color_gold
		border-radius: 0.5rem
		margin-bottom: 1rem // $BR
		&-name
			display: block
			height: 100%
			line-height: 4rem
			width: calc(100% - 4rem)
			padding: 0 1rem

			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
	&-place-info
		margin-bottom: $BR


$al_h: 4rem
$al_bor: 0.2rem
$al_fl_w: 5rem
$al_gap: 1.5rem
$al_bor_rad: 0.5rem

.place-type
	// background-color: $color_gold
	width: $al_h
	height: $al_h
	line-height: $al_h - 2 * $al_bor
	text-align: center
	color: $color_bg_TR
	font-weight: 500
	font-size: 2rem
	cursor: pointer
	padding: 0.3rem
	img
		width: 100%
		padding: 0.5rem
		// padding: 0.2rem

.address
	display: flex
	position: relative
	width: 100%
	&--origin
		padding-bottom: 3rem
	&-line
		background: none
		flex-grow: 2
		height: $al_h
		line-height: $al_h - 2 * $al_bor
		font-size: 1.5rem
		padding-left: 1rem
		color: #fff


// .floor
// 	width: $al_fl_w + 2rem
// 	height: $al_h - 1rem
// 	background: none
// 	border: $al_bor solid $color_gold
// 	color: #fff
// 	text-align: center
// 	line-height: $al_h - 1rem
// 	border-radius: $al_bor_rad
// 	outline: 0px
// 	option
// 		background-color: $color_bg_TR
// 		border: 0px
// 		outline: 0px




.switch
	&-group
	&-name
		height: 3rem
		margin-right: 1rem
		font-size: 1.2rem
		text-transform: uppercase
		display: inline-block

// SWITCH
$sw_height: 3rem
$sw_width: $sw_height * 2
$sw_gap: $sw_height / 3
$sw_radius: $sw_height / 1
$sw_bord: 0.2rem

$sw_bg_on: $color_green
$sw_bg_off: $color_gold
$sw_tg_on: white
$sw_tg_off: $color_gold

$sw_trans: all .6s

.switch
	width: $sw_width
	height: $sw_height
	position: relative
	display: inline-block
	& div
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		border: solid $sw_bord $sw_bg_off
		border-radius: $sw_radius
		cursor: pointer
		transition: $sw_trans
		&:before
			content: ''
			position: absolute
			top: $sw_gap / 2 - $sw_bord
			left: $sw_gap / 2 - $sw_bord
			width: $sw_height - $sw_gap
			height: $sw_height - $sw_gap
			background-color: $sw_tg_off
			border-radius: $sw_radius / 1.3
			transition: $sw_trans
	& input
		margin: 0
		opacity: 0
		height: 2rem
		&:checked + div
			background-color: $sw_bg_on
			border-color: $sw_bg_on
			&:before
				transform: translateX($sw_width - $sw_height)
				background-color: $sw_tg_on


.lift

// 3 STATE SWITCH
$swl_bord: 0.2rem
$swl_height: 3rem
$swl_width: 10rem
$swl_gap: 0.3rem
$swl_tog_wh: $swl_height - 2 * $swl_gap - 2 * $swl_bord
$swl_marg: $swl_gap + $swl_bord - $swl_bord

=swl-dot
	content: ''
	display: block
	position: absolute
	width: 4px
	height: 4px
	border-radius: 2rem
	background-color: $color_gold
	top: 1.1rem
	opacity: 0.4

.swlift
	width: $swl_width
	height: $swl_height
	&__wrap
		position: relative
		width: 100%
		height: 100%
		&:after
			content: ""
			display: block
			padding-bottom: 30%

		.lifttoggle
			position: absolute
			margin-left: -9999px
			display: block
			&:checked
				&:nth-child(1)
					& ~ div > .swlift__thumb
						left: $swl_marg
					& ~ .swlift__bg
						background-color: none
						border-color: $color_gold
				&:nth-child(2)
					& ~ div > .swlift__thumb
						left: $swl_width / 2 - $swl_height / 2 + $swl_gap
						background-color: #fff
					& ~ .swlift__bg
						background-color: $color_green
						border-color: $color_green
						&:before
							opacity: 0
						&:after
							background-color: #fff !important
				&:nth-child(3)
					& ~ div > .swlift__thumb
						left: $swl_width - $swl_height + $swl_gap
						background-color: #fff
					& ~ .swlift__bg
						background-color: $color_orange
						border-color: $color_orange
						&:before
							background-color: #fff !important
						&:after
							opacity: 0

		&--disabled
			& > div
				opacity: 0.4


		label
			position: absolute
			outline: none
			user-select: none
			box-sizing: border-box
			width: 33.33%
			height: 100%
			z-index: 190
			transition: background 0.4s

		.swlift__bg
			position: absolute
			width: 100%
			height: 100%
			border: $swl_bord solid
			border-radius: 200px
			transition: all 0.4s ease
			&:before
				+swl-dot
				left: 4.6rem
			&:after
				+swl-dot
				left: 8.1rem
		.swlift__thumb
			position: relative
			display: block
			top: $swl_marg
			left: $swl_marg
			width: $swl_tog_wh
			height: $swl_tog_wh
			background-color: $color_gold
			border-radius: 100%
			transition: all 0.4s ease
			&:after
				content: ""
				display: block
				padding-bottom: 100%

	&__title
		font-size: 1.2rem
		margin-top: 0.9rem
		text-transform: uppercase
		span
			display: inline-block
		&--name
			margin: 0 1rem
			transition: 0.4s linear
	&--no
	&--one
		color: $color_green
	&--two
		color: $color_orange

.distance
	width: 100%
	justify-content: center
	display: flex
	height: 3rem
	line-height: 3rem
	margin-top: $BR
	margin-bottom: $BR
	img
		height: 100%
		margin-right: 1.5rem
		transform: translateY(-0.4rem)
	&--title
		text-transform: uppercase
		margin-right: 1rem

.dt
	text-transform: uppercase
	font-size: 1.2rem
	margin-bottom: 0.5rem
	&-m
		margin: 0 0.3rem


// ////////////////////////////////////////////////////////////////////////////////////////
// ------------------------------------------------------------------------------------- R2
// ////////////////////////////////////////////////////////////////////////////////////////

$r_dot_w: 0.5rem
$r_btn_w: 29%
$r_btn_h: 2.5rem
$r_btn_bor: 0.2rem
.room
	&-page
		height: 3rem
		// animation: animroompage linear 0.5s infinite alternate
		img
			height: 100%
	&-dots
		margin-top: -1rem
		margin-bottom: 0.5rem
	&-dot
		display: inline-block
		margin: 0 $r_dot_w / 2
		width: $r_dot_w
		height: $r_dot_w
		border-radius: $r_dot_w
		background-color: $color_gold
		&--selected
			background-color: #fff !important
		&--green
			background-color: $color_green
	&-btn
		width: $r_btn_w
		height: $r_btn_h
		line-height: $r_btn_h - 2 * $r_btn_bor
		border: $r_btn_bor solid #000
		border-radius: 0.5rem
		font-size: 1.4rem
		color: #fff
		text-transform: uppercase
		padding: 0 1rem
		text-align: center

		text-overflow: ellipsis
		overflow: hidden
		white-space: nowrap
		&--add
			background-color: $color_green
			border-color: $color_green
		&--reset
			border-color: $color_orange
		&--disabled
			color: #505050
			border-color: #505050
		&--del
			border-color: #192a3d

	&-title
		line-height: 3rem
		padding-top: 1rem
		text-transform: uppercase
		&--current
			font-size: 2rem
		&--side
			font-size: 1.1rem
			width: 7rem
			color: #909090
			font-weight: 500
			// line-height: 2.8rem

	&-modal
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: transparentize(#000, 0.05)
		z-index: 1000
		display: flex
		justify-content: center
		align-items: center
		&__wrap
			width: 20rem
			margin: 0 auto
			text-align: center
			p
				text-transform: uppercase
				margin-bottom: 2rem
			&-btns
				display: flex
				justify-content: space-between

	&-itemcount
		width: 8rem
		height: 100%
		font-size: 1.4rem
		text-align: center
		text-transform: uppercase
		font-weight: 300
		p:first-child
			font-size: 1.6rem
		span
			margin-right: 0.5rem

	&-totalitems
		width: 100%
		text-align: center
		text-transform: uppercase

// @keyframes animroompage
// 	0%
// 		// opacity: 1
// 		// transform: scale(1)
// 		transform: translateX(0)
// 	100%
// 		// opacity: 0.5
// 		// transform: scale(0.8)
// 		transform: translateX(-5px)

.close
	+buttonok
	&--room
		width: 9rem
		font-size: 1.4rem
		text-align: center
		text-transform: uppercase
		font-weight: 500
	&--white
		color: #fff
		border-color: #fff

// $r2il_h: calc((100% - 8rem)*0.2)
$r2il_h: calc((100% - 12rem)*0.22)
.item
	&-list
		height: $r2il_h
		ul
			height: 100%
			// overflow-x: auto
			overflow-y: hidden
			display: flex
			flex-direction: column
			flex-wrap: wrap
			// justify-content: flex-start
			// align-content: flex-start
			padding-bottom: 0.3rem
	&-name
		height: 2rem
		line-height: 2rem
		margin-right: 2rem
		white-space: nowrap
	&-number
		font-family: sans-serif
		opacity: 0.5
	&--count
		color: $color_gold
		// margin-left: 0.2rem
		display: inline-block
		span
			display: inline-block
			margin: 0 0.3rem
			font-weight: 300
	&--trash
		color: $color_red
		font-weight: 500
	&--icon
		margin-left: 0.5rem
		height: 1.3rem



// $cam_h: calc((100% - 8rem)*0.8)
$cam_h: calc((100% - 12rem)*0.78)
.cam
	&-wrap
		text-align: center
		height: $cam_h
	&-main
		margin: 0 auto
		width: 100%
		height: calc(100% - 6rem)
	&-frame
		width: auto
		height: calc(100% - 1rem)
		// height: 100%
		// overflow-x: auto
		overflow-y: hidden
		position: relative

.photos
	height: 100%
	position: relative
	display: flex
	img
		// height: calc(100% - 1rem)
		height: 100%

.tags
	position: relative


$rtag_w: 2rem
$rtag_bgw: 2rem //1.2
$rtag_bgm: 0 // 0.4

.tag
	position: absolute
	width: $rtag_w
	height: $rtag_w
	color: #fff
	font-size: 1.1rem
	line-height: $rtag_w
	z-index: 10
	letter-spacing: -1px
	font-weight: 500
	background-color: $color_green
	border-radius: 100%
	&-trash
		background-color: $color_red


#camera_icon
	display: block
	width: 5rem
	margin: 0 auto


.empty
	&-title
		padding-top: 2rem
		text-transform: uppercase
		text-align: center
		color: #505050
		width: 80%
		margin: 0 auto
	&-itemedit
		padding-top: 0.5rem
		color: #505050
		max-width: 80%
	&-cam
		opacity: 1
		animation: camblink 1s infinite alternate ease // cubic-bezier(0.92,-0.09, 0.63, 0.91) // ease

@keyframes camblink
	0%
		opacity: 1
	100%
		opacity: 0.1


// ////////////////////////////////////////////////////////////////////////////////////////
// ------------------------------------------------------------------------------------- R3
// ////////////////////////////////////////////////////////////////////////////////////////

.carton
	width: 100%
	height: 13rem
	background-color: $color_dark_gold
	padding-top: 1rem
	padding-bottom: 1rem
	margin-bottom: $BR

	// position: relative  // ? ? ?
	&-icon
		width: 6rem
		padding-right: 2rem
		//
		height: 11rem
		display: flex
		justify-content: space-between
		flex-direction: column
		&--info
			padding: 1rem
			padding-bottom: 0
			transition: all 0.3s ease
		img
			width: 100%
	&-options
		flex-grow: 2

	&-title
		font-size: 1.2rem
		color: #fff
		font-weight: 500
		text-transform: uppercase
		margin-right: 1rem
		&--rec
			color: $color_gold
			font-weight: 400
	&-input
		background: none
		width: 6rem
		height: $al_h - 1rem
		line-height: $al_h - 1rem
		border-radius: $al_bor_rad
		border: $al_bor solid $color_gold
		font-size: 1.6rem
		color: #fff
		text-align: center
		&--invalid
			border-color: $color_red

	&-pack
		width: 100%
		height: 0rem // 4.5rem
		background-color: $color_dark_gold
		position: absolute
		left: 0
		top: 13rem
		z-index: 50
		transition: all 0.4s ease
		padding-left: 8rem
		font-weight: 300
		opacity: 1
		overflow: hidden
		// &--closed_up
			// height: 0 !important
		&--sameday
			height: 4.5rem // 3rem
		&--notsameday
			height: 13rem
		&--close
			height: 0 !important

		&-sameday
			height: 4.5rem

		&-date
			width: 100%
			height: 10rem
			overflow: hidden
			&--date
				height: 3rem
				line-height: 2.6rem

		&-showbtn
			width: 4rem
			height: 4rem
			background-color: $color_dark_gold
			border-radius: 100%
			position: absolute
			left: 2rem
			top: 11rem
			z-index: 500
			text-align: center
			line-height: 4rem
			font-size: 2rem
			transform: rotateZ(90deg)
			transition: all 0.5s ease
			&--closed
				transform: rotateZ(0)
				background-color: #332e20
			img
				height: 100%
				padding: 1rem

	&-modal
		position: absolute
		left: 0
		top: 12.9rem
		width: 100%
		z-index: 9999
		padding: 2rem
		background-color: #1e1c16
		color: #fff
		box-shadow: 0px 200px 70px 10px rgba(0,0,0,0.55)
		&__title
			height: 2rem
			line-height: 2rem
			text-transform: uppercase
			margin-bottom: 2rem
			img
				height: 2rem
				float: right
		p
			&:nth-child(2n)
				text-transform: uppercase
				margin-bottom: 0.5rem
			&:nth-child(2n + 1)
				margin-bottom: 1rem
				color: #cccccc

.price
	width: 26rem
	margin: 0 auto
	text-transform: uppercase
	margin-bottom: 1rem

	&-part
		color: $color_gold
		font-size: 1.4rem
		margin-bottom: 0.3rem
	&-total
		margin: 0 auto
		font-size: 2.8rem
		text-align: right
		margin-bottom: -0.5rem
		&--title
			float: left
			font-size: 1.6rem
			// margin-right: 1rem
		&--vat
			color: #a58f43
			font-size: 1.1rem
			display: inline-block
			width: 100%
			text-align: right
	&-divider
		width: 100%
		height: 2px
		margin: 1rem 0
		margin-top: 0.7rem
		border-bottom: 1px dashed $color_gold

.agree
	display: flex
	&--mb
		margin-bottom: $BR
	p
		padding-left: 2rem
	&--p
		font-size: 1.4rem

.swcheck
	input[type=checkbox]
		display: none
		& + label
			display: block
			width: 2rem
			height: 2rem
			border: 2px solid $color_gold
			transition: all 0.4s ease
		&:checked
			& + label
				width: 1rem
				height: 3rem
				border: 2px solid #a58f43
				border-left-width: 0
				border-top-width: 0
				border-color: $color_green
				animation: swcheck 0.5s ease infinite alternate
				transform: rotate(45deg) translateX(-4px) translateY(-2px)
				margin-left: 1rem

@keyframes swcheck
	0%
		border-color: #fff
	100%
		border-color: $color_green

.customer
	&-line
		display: flex
		border: 0.2rem solid $color_gold
		border-radius: 0.5rem
		margin-bottom: 1rem
		img
			padding: 0.4rem
		
		&--message
			align-items: center
			height: 3.5rem
			img
				width: 4rem
				height: 3rem
			span
				padding-left: 1rem
				font-weight: 300
				white-space: nowrap
				text-overflow: ellipsis
				overflow: hidden
		&--empty
			opacity: 0.5
	&-comment
		&--wrap
			width: auto
	&-textarea
		background: no-repeat
		color: #fff
		border: 0.2rem solid $color_gold
		padding: 1rem
		border-radius: 0.5rem
		margin-bottom: 2rem

		// &:first-child
	// &-message
	// 	width: 100%
	// 	height: 8vh
	// 	border: 2px solid $color_gold
	// 	background: none
	// 	color: #fff
	// 	padding: 0.5rem 1rem
	// 	border-radius: 0.5rem

.valert
	color: $color_red
	font-weight: 500
	font-size: 1.4rem
	text-transform: uppercase
	p
		margin-bottom: 0.5rem
		cursor: pointer
	&-title
		font-size: 1.8rem
		margin-bottom: 2rem !important
		color: #fff
		font-weight: 400
		text-align: center


.send
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 99999
	background-color: transparentize(#000, 0.1)
	display: flex
	align-items: center
	&-wrap
		width: 100%
		&-inner
			width: 100%
			height: 5rem
			position: relative
			overflow: hidden 
	&-car
		position: absolute
		top: 0
		height: 4rem
		animation: animsendcar 5s linear infinite

	&-road
		position: absolute
		bottom: 0
		width: 100%
		height: 0.5rem
		background-color: $color_gold
		animation: animsendroad 5s linear infinite

	&-title
		text-align: center
		text-transform: uppercase
		padding-top: 2rem
		font-size: 2rem
		animation: animsendtitle 1s infinite alternate ease

	&-done
		position:  absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		z-index: 900
		display: flex
		justify-content: center
		align-items: center
		overflow: hidden
		&-bg
			position: absolute
			background-color: $color_gold
			width: 100%
			height: 200%
			left: 0
			transform-origin: 0
			transform: skewY(-45deg)
			z-index: -1
			top: -200vh
			&--done
				top: 0vh
				transition: top 3s
		&--suc
			background-color: $color_green
		&--err
			background-color: $color_red
		&-wrap
			opacity: 0
			text-align: center
			img
				height: 5rem
				margin-bottom: 3rem
			p
				&:nth-child(2)
					text-transform: uppercase
					font-size: 2.2em
					margin-bottom: 1rem
				&:nth-child(3)
					width: 80%
					margin: 0 auto
					margin-bottom: 3rem
					font-size: 1.2em
			div
				border: 0.2rem solid #fff
				padding: 1rem
				margin: 0 auto
				border-radius: 1rem
			&--done
				opacity: 1
				transition: opacity 1s 1s
		&-ok
			width: 9rem
		&-link
			margin-bottom: 3rem
			display: inline-block
			border: 0.2rem solid #fff
			padding: 1.2rem
			border-radius: 1rem
			text-transform: uppercase
		&-id
			margin-bottom: 1rem !important
			border: none !important

@keyframes animsendcar
	0%
		left: -20vw
	10%
		left: -20vw
	100%
		left: 110vw

@keyframes animsendroad
	0%
		left: -110vw
	30%
		left: 0
	70%
		left: 0
	100%
		left: 110vw

@keyframes animsendtitle
	0%
		color: #fff
	100%
		color: $color_gold


// ----------------------------------------------------------------------------------- VALIDATION

=valid($color)
	&-pi
		::ng-deep 
			.null
				border-color: $color
				background: none
				// &-icon,
				// &-info--null
					// background-color: $color
	&-loc
		border-color: $color
		div 
			// background-color: $color

.valid
	&--Y
		+valid($color_green)
	&--N
		+valid($color_red)

// ////////////////////////////////////////////////////////////////////////////////////////
// ----------------------------------------------------------------------------------- MISC
// ////////////////////////////////////////////////////////////////////////////////////////


// DELETE
.deleteCanvasWrap
	width: 100%
	overflow-x: auto

.deleteCanvas
	max-height: 200px

.loader
	width: 100%
	text-align: center
	margin-top: 1rem
	&_circle
		margin: 0 auto
		height: 3rem
		width: 3rem
		border: 3px solid $color_gold
		border-radius: 200px
		border-bottom: none
		animation: loader infinite 0.5s linear

@keyframes loader
	0%
		transform: rotateZ(0deg)
	100%
		transform: rotateZ(360deg)


/////// MISC

.debugprice
	width: 100%
	position: absolute
	top: 13rem
	left: 0
	background-color: $color_bg_BL
	padding: 1rem 2rem
	bottom: 5rem
	z-index: 10
	&-wrap
		height: 100%
	&-close
		height: 3rem
		bottom: 2rem
		position: absolute
	&-coef
		height: 3rem
		bottom: 2rem
		right: 2rem
		position: absolute
		display: flex
		align-items: center
		transition: all 1s ease
		img
			height: 100%
			margin-left: 1rem
		&--refresh
			color: $color_green
			img
				transform: rotateZ(360deg)
				transition: all 1s ease
	&-list
		max-height: calc(100vh - 51rem)
		overflow-y: auto
		ul
			margin-bottom: 1rem

	&-show
		position: absolute
		bottom: 5rem
		left: 2rem
		background-color: $color_gold
		padding: 0.5rem 1rem
		border-radius: 0.5rem



.button_big
	width: 100%
	height: 4rem
	background-color: $color_gold
	border: none
	color: #000
	text-transform: uppercase
	font-weight: 500
	border: none
	border-radius: 0.5rem

.furniture_preload
	max-width: 0px
	max-height: 0px
	overflow: hidden
	*
		max-width: 0px
		max-height: 0px


.hebrew
	.navigation-wrap
		direction: rtl

	/////////////////////////////////////////////////////////////////////////// R1

	.hamovil
		background: none
	.address
		direction: rtl
		.location-address
			input
				padding-left: 0
				padding-right: 1rem
			.location-address-name
				// direction: ltr
				// padding-left: 0
				// padding-right: 1rem
		.circle--line
			&:after
				right: 2.8rem
				left: auto
		.lift
			direction: ltr
			.swlift__title
				order: 2
				direction: rtl

	.swlift
		label
			&:nth-child(4)
				left: 66.66% !important
			&:nth-child(6)
				left: 0 !important
		// .lifttoggle
		// 	&:checked
		// 		&:nth-child(3) ~ .swlift__bg
		// 			background: none
		.lifttoggle
			&:checked
				&:nth-child(1) ~ div > .swlift__thumb
					left: 7.3rem
				&:nth-child(3) ~ div > .swlift__thumb
					left: 0.3rem
		.swlift__bg
			&:after
				left: 1.1rem

	.dt
		direction: rtl
	.dt-widgets
		.dtpicker
			&:first-child
				order: 2
				direction: rtl

	/////////////////////////////////////////////////////////////////////////// R2

	.room-title
		&--current
			transform: translateY(-2px)
	// 	direction: rtl
	// .room-page
	// 	transform: rotateZ(180deg)
	.room-itemcount
		direction: rtl
		p
			&:last-child
				span
					margin: 0
					margin-left: 0.5rem
	.room-modal__wrap-btns
		direction: rtl
	.item-list
		// height: calc((100% - 32rem)*0.2)
		// direction: rtl
		ul
			// direction: rtl
			// align-content: flex-end
			.item-name
				direction: rtl
				align-self: flex-end
				margin: 0
				margin-left: 2rem
				img
					margin: 0
					margin-right: 0.5rem
				.item--count
					margin: 0
					// margin-right: 0.2rem
			.empty-itemedit
				align-self: flex-end
	.room-btns
		direction: rtl

	/////////////////////////////////////////////////////////////////////////// R3

	.carton
		direction: rtl
		.carton-icon
			padding-left: 2rem
			padding-right: 0
		.carton-modal__title
			img
				float: left
		.switch-group
			label
				div
					&:before
						transform: translateX(3rem)
				input:checked + div
					&:before
						transform: translateX(0)
		.carton-pack-showbtn
			right: 2rem
			left: auto
			&--closed
				transform: rotateZ(180deg)
	.carton-pack
		direction: rtl
		padding: 0 2rem
		padding-right: 8rem
	
	.valert
		direction: rtl

	.price
		direction: rtl
		&-total
			text-align: left
			&--title
				float: right
			&--vat
				text-align: left

	.agree
		direction: rtl
		p
			padding-right: 2rem
			padding-left: 0

	.customer
		direction: rtl
		input
			padding: 0
			padding-right: 1rem
			direction: ltr
			text-align: right
		&-line--message
			span
				padding: 0
				padding-right: 1rem