<!-- STEP 1 ---------------------------------------------------------------------------------- -->

<div class="req-step"  [class.show-page]="req_page == 1">

	<p class="p2  w100  tac">Choose your apartment type</p>
	<br>

	<form>
		<div class="types">
			<div class="type"  *ngFor="let p of PLACES">
				<input type="radio" 
					name="match" 
					[id]='p.type'
					[value]='p.type'
					[(ngModel)]="place" 
					(change)="onAppartmentSelect()" 
					value={{p.type}}>
				<label class="radio" [for]='p.type'>{{p.type | uppercase}}</label>
			</div>
		</div>

		<br>

		<div class="p2  flex  jcsb" style="font-size: 1.2rem; margin-bottom: 5px;">
			<span>START</span>
			<span>FLOOR</span>
		</div>

		<div class="p2  flex  jcsb">

			<div class="place-type"></div>
			<!-- <p>Start</p> -->
			<input type="text" 
				class="adress-line"
				placeholder="Search for origin" 
				autocorrect="off" 
				autocapitalize="off" 
				spellcheck="off" 
				#search_O>

			<select #floor_O (change)="floorChange($event, 'O')" class="floor">
				<option 
					*ngFor="let f of floors" 
					value="{{f}}"
					[attr.selected]="f===1 ? true : null">
					{{f}}
				</option>
			</select>
		</div>

		<br>

		<div class="p2  flex  jcsb">
			<div class="switch-group">
				<label class="switch">
					<input type="checkbox" 
						[(ngModel)]="o_lift" 
						[ngModelOptions]="{standalone: true}">
					<div></div>
				</label>
				<label class="switch-name">Lift</label>
			</div>

			<div class="switch-group">
				<label class="switch">
					<input type="checkbox">
					<div></div>
				</label>
				<label class="switch-name">Packing</label>
			</div>
		</div>

		<br>

		<div class="p2  flex  jcsb">
			<div class="place-type">+</div>
			<div></div>
		</div>

		<br>
		<br>

		<div class="p2  flex  jcsb" style="font-size: 1.2rem; margin-bottom: 5px;">
			<span>FINISH</span>
			<span>FLOOR</span>
		</div>

		<div class="p2  flex  jcsb">

			<div class="place-type"></div>
			<!-- <p>Finish</p> -->
			<input type="text" 
				class="adress-line"
				placeholder="Search for destination" 
				autocorrect="off" 
				autocapitalize="off" 
				spellcheck="off" 
				#search_D>
				
			<select #floor_D (change)="floorChange($event, 'D')" class="floor">
				<option 
					*ngFor="let f of floors" 
					value="{{f}}"
					[attr.selected]="f===1 ? true : null">
					{{f}}
				</option>
			</select>
		</div>

		<br>
		
		<div class="p2  flex  jcsb">
			<div class="switch-group">
				<label class="switch">
					<input type="checkbox" 
						[(ngModel)]="d_lift" 
						[ngModelOptions]="{standalone: true}">
					<div></div>
				</label>
				<label class="switch-name">Lift</label>
			</div>

			<div></div>
		</div>

		<br>

		<div class="p2  flex  jcsb" style="font-size: 1.2rem; margin-bottom: 5px;">
			<span>DATE</span>
			<span>TIME</span>
		</div>
		<div class="p2  flex  jcsb">
			<date-picker (outOnDateSelect)="evDateSelected($event)"></date-picker>
			<time-picker (outTimePicked)="evTimeSelected($event)"></time-picker>
		</div>

	</form>

</div>

<!-- STEP 2 ---------------------------------------------------------------------------------- -->

<div class="req-step"  [class.show-page]="req_page == 2">
	
	<div class="flex  jcsb  w100">
		<button class="btn-page" (click)="roomPage('prev')"><<</button>
		<span style="font-size: 2rem">{{rooms[current_room - 1].name | uppercase}}</span>
		<button class="btn-page" (click)="roomPage('next')">>></button>
	</div>
	
	<div class="w100  c">
		<div class="room-dot" 
			*ngFor="let r of rooms; let idx = index"
			[class.room-dot--selected]="idx == current_room - 1"></div>
	</div>

	<div class="p2">
		<ul>
			<li *ngFor="let r of rooms[current_room - 1].items" class="item-list-name">{{r.name}}</li>
		</ul>
	</div>

	<br>
	<br>
	<!-- // //////////////////////////////////////////////////////////// -->

	<section class="cam-wrap">

		<div class="cam-main">
			<div class="cam-ramka" 
				#cam_ramka 
				(click)="addTag($event)">

				<div class="img_one" 
					*ngFor="let url of curFiles_arr; let i = index">
					<img [src]="sanitize(url)">
				</div>
			</div>
		</div>

		<label id="camera_icon" for="camera">
			<img src="../../../assets/i/camera.svg">
		</label>
		<input type="file" 
				accept="image/*" 
				id="camera" 
				capture="camera" 
				style="display: none"
				(change)="takePhoto($event)"
				#camera>

		<span class="cam-text"></span>

	</section>

	<item-picker 
		#item_picker
		(outItemSelected)="evItemSelected($event)">
	</item-picker>

	<!-- // //////////////////////////////////////////////////////////// -->
	
	<!-- <span>TOTAL PRICE - {{total_price}}</span> -->

	<!-- <ul>
		<li *ngFor="let i of roomItemList">{{i.name}} - {{i.price}}</li>
	</ul> -->
	
	<!-- <div class="furniture" style="display: none">
		<div 
			class="furniture-type" 
			*ngFor="let t of FURNITURE" 
			attr.data-id="{{t.id}}" 
			(click)="selectItemType($event)">
		
			<img src="../../../assets/f/{{t.id}}/icon.gif">
		</div>
	</div>

	<div class="modal-bg" *ngIf="showItems" style="display: none">
		<div class="furniture-select">
			<div 
				class="furniture-select__item" 
				*ngFor="let f of FURNITURE[f_typeId - 1].types" 
				attr.data-id="{{f.id}}"
				(click)="onItemSelected($event)">
				
				<img src="../../../assets/f/{{f_typeId}}/i/{{f.id}}.gif">
			</div>
		</div>
	</div> -->

</div>

<!-- STEP 3 ---------------------------------------------------------------------------------- -->



<!-- STEP 4 ---------------------------------------------------------------------------------- -->



<!-- COMMON AFTER ---------------------------------------------------------------------------------- -->

<br>
<br>

<div class="p2  flex  jcsb">
	<button class="btn-page" (click)="pager('P')" [class.hidden]="req_page == 1">PREV</button>
	<button class="btn-page" (click)="pager('N')">NEXT</button>
</div>

<!-- <button (click)="console()">Console</button> -->