<div class="req-dayview" *ngIf="day_modal">
	<span class="req-daytitle">{{day_modal}}</span>

	<div>

		<div class="req-one" *ngFor="let r of prepareDay()"  [class.req-one--pack]="isMode(r, 'P')"  [class.req-one--box]="isMode(r, 'B')">

			<div class="req-one-leftline"  [class.req-one-leftline--p]="isMode(r, 'P')"  [class.req-one-leftline--b]="isMode(r, 'B')"  [class.req-one-leftline--sameday]="r.packing.pack && r.packing.sameday"></div>

			<div class="req-one-right">
				<a class="req-one-link" target="_blank" [href]="'https://tmctestx.firebaseapp.com/en/db/' + r.requestID">
					<img src="assets/i/tv_view.svg">
				</a>

				<div style="float: left; margin-right: 1rem">
					<p style="margin-bottom: 0.9rem">{{showTime(r)}}</p>

					<span *ngIf="isMode(r, 'P') || isMode(r, 'B') || (r.packing.pack && r.packing.sameday)"  [class.c_purple]="isMode(r, 'P') || (r.packing.pack && r.packing.sameday)"  [class.c_grey]="isMode(r, 'B')">{{r.boxes.carton}}</span>

					<span class="ttu"  style="margin-left: 0.5rem"  [class.none]="isMode(r, 'B')">₪ 
						{{
							isMode(r, 'P') ?
							getPrice(r, 'P') :
							( r.packing.sameday ? getPrice(r, 'TOTAL') : getPrice(r, 'T'))
						}}
					</span>
				</div>

			</div>

			<!-- <div class="req-one-box"  *ngIf="!isMode(r, 'P') && r.packing.pack">
				<img src="assets/i/box.svg" *ngIf="r.packing.sameday">
			</div> -->

			<!-- ///////////////////////////////////////////////////////// O -->
			<div class="req-one-adress">
				<div class="req-one-line">
					<div class="req-one-line--circle"  [class.req-one-line--circle-pack]="isMode(r, 'P')"  [class.req-one-line--circle-box]="isMode(r, 'B')"  [class.req-one-line--circle-sameday]="r.packing.pack && r.packing.sameday"></div>
					<span>{{r.adress.o.city}}</span>
				</div>

				<p class="req-one-type">
					<img src="assets/i/pi_o_t.svg">
					<span>{{LNG[lng].r1.loc.t[r.adress.o.info.t[0]]}}</span>
				</p>
			</div>
				
			<!-- ///////////////////////////////////////////////////////// D -->
			<div class="req-one-adress"  [class.none]="isMode(r, 'P')  ||  isMode(r, 'B')">
				<div class="req-one-line">
					<div class="req-one-line--circle" style="border-color: #fff"></div>
					<span>{{r.adress.d.city}}</span>
				</div>

				<p class="req-one-type"  style="margin-bottom: 0">
					<img src="assets/i/pi_o_t.svg">
					<span>{{LNG[lng].r1.loc.t[r.adress.o.info.t[0]]}}</span>
				</p>
			</div>

			<!-- ///////////////////////////////////////////////////////// i -->
			<div class="req-one-distance"  [class.none]="isMode(r, 'P')  ||  isMode(r, 'B')">
				<span class="req-one-distance-t">{{timeTransform(r.route.time)}}</span>
				<span class="req-one-distance-d">{{r.route.distance}}</span>
				<span>{{LNG[lng].c.km}}</span>
			</div>

		</div>

	</div>

	<div class="calendar-btns  jcc" style="position: absolute; bottom: 1rem">
		<div class="close" (click)="day_modal = 0">✕</div>
		<div class="req-dayprice">₪ {{day_modal_price}}</div>
	</div>
</div>


<div class="calendar">

	<div class="calendar-wrap">

		<p class="calendar-month">{{date.locale(lng).format('MMMM')}} 
			<span style="position: absolute; right: 2rem">{{date.format('YYYY')}} 
				<span class="language"  (click)="nextLNG()">{{lng}}</span> 
			</span>
		</p>

		<div class="calendar-table" [class.calendar--loading]="!requests_render">
			<div class='calendar-days  calendar-days--week'>
				<div *ngFor="let day of dayNames" 
					class='calendar-day  calendar-day--name'>{{day}}</div>
			</div>

			<div class='calendar-days  calendar-days--month'>

				<div *ngFor="let day of daysArr"
					class='calendar-day' 
					[ngClass]="{
						'inactive ': !day, 
						'today': todayCheck(day),
						'beforetoday': isBeforeToday(day)
					}"
					(click)="viewDay(day?.date())"
					>
					<!-- 'selected': isSelected(day), -->

					<p style="margin-bottom: 0.5rem">{{day?.date()}}</p>

					<!-- // ALL  -->
					<div class="req-group" *ngIf="isGroup(day?.date())">
						<div *ngFor="let r of prepareDay(day?.date())"
							class="req-dot" 
							[class.req-dot--under3000]="(day.date() == r.date.date.d) && getPrice(r, 'TOTAL') < 3000"
							[class.req-dot--notsameday]="r.date.date.d !== day?.date()"
							[class.req-dot--pack]="r.packing.pack"
							[class.req-dot--sameday]="r.packing.pack && r.packing.sameday"
							[class.req-dot--box]="day.date() == r.boxes.date.d"
							>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div class="calendar-btns  p2" style="position: absolute; bottom: 1rem">
			<div class="btn" (click)="monthPager('prev')" [class.hidden]="!checkPrev()">BACK</div>
			<a class="new" *ngIf="!day_modal" target="_blank" [href]="'https://tmctestx.firebaseapp.com/' + lng + '/request'"><img src="assets/i/new.svg"></a>
			<div class="btn" (click)="monthPager('next')">NEXT</div>
		</div>

	</div>

</div>

<div>
	<img style="height: 0px" src="assets/i/new.svg">
	<img style="height: 0px" src="assets/i/tv_view.svg">
	<img style="height: 0px" src="assets/i/pi_o_t.svg">
	<img style="height: 0px" src="assets/i/box.svg">
	<!-- <img style="height: 0px" src="assets/i/box_b.svg"> -->
</div>