<div class="req-dayview"  *ngIf="day_modal"  [class.hebrew]="lng === 'he'">
	<span class="req-daytitle">{{day_modal}}</span>

	<div class="req-dayview--wrap">


		<div class="req-one" *ngFor="let r of prepareDay()"  [class.req-one--pack]="isMode(r, 'P')"  [class.req-one--box]="isMode(r, 'B')">

			<div class="req-one-leftline"  [class.req-one-leftline--p]="isMode(r, 'P')"  [class.req-one-leftline--b]="isMode(r, 'B')"  [class.req-one-leftline--sameday]="r.packing.pack && r.packing.sameday"></div>

			<div class="req-one-right">
				<a class="req-one-link" target="_blank" [href]="'https://app.hamovil-sheli.co.il/' + lng + '/db/' + r.requestID">
					<img [src]="'assets/i/tv_view_' + (r.closed ? 'c' : 'o') + '.svg'">
				</a>

				<div class="req-one-price">
					<p>{{showTime(r)}}</p>

					<span class="req-one-price--boxes"  *ngIf="isMode(r, 'P') || isMode(r, 'B') || (r.packing.pack && r.packing.sameday)"  [class.c_purple]="isMode(r, 'P') || (r.packing.pack && r.packing.sameday)"  [class.c_grey]="isMode(r, 'B')">{{r.boxes.carton}}</span>

					<span class="req-one-price--value"  [class.none]="isMode(r, 'B')">₪ {{getReqPrice(r, 'DayV')}}</span>
				</div>

			</div>



			<!-- ///////////////////////////////////////////////////////////////////////////////  ADRESSES  -->
			<div class="req-one-adress"  *ngFor="let a of ASRESSES"
				[class.none]="a === 'd' && (isMode(r, 'P')  ||  isMode(r, 'B'))"
				[class.req-one-adress--mb]="a === 'o'"
				>
				<div class="req-one-line    flex  aic">
					<div class="req-one-line--circle"  
						[ngClass]="{
							'req-one-line--circle-white': a === 'd',
							'req-one-line--circle-pack':  isMode(r, 'P'),
							'req-one-line--circle-box':   isMode(r, 'B'),
							'req-one-line--circle-sameday': r.packing.pack && r.packing.sameday && a === 'o'
						}">
					</div>
					<span>{{r.adress[a].city}}</span>
				</div>

				<p class="req-one-type    flex  aic">
					<img [src]="'assets/i/pi_o_t' + r.adress[a].info.t[0] + '.svg'">
					<span>{{LNG[lng].r1.loc.t[r.adress[a].info.t[0]]}}</span>
				</p>
			</div>


			<!-- ///////////////////////////////////////////////////////// DISTANCE -->
			<div class="req-one-distance"  [class.none]="isMode(r, 'P')  ||  isMode(r, 'B')">
				<span class="req-one-distance-t">{{timeTransform(r.route.time)}} {{LNG[lng].c.m}}</span>
				<span class="req-one-distance-d">{{r.route.distance}}</span>
				<span>{{LNG[lng].c.km}}</span>
			</div>

			<p class="req-one-responsible"  *ngIf="r.responsible.transportation && !isMode(r, 'P') && !isMode(r, 'B')">{{r.responsible.transportation}}</p>
			<p class="req-one-responsible  req-one-responsible--packing"  *ngIf="r.responsible.packing && isMode(r, 'P')">{{r.responsible.packing}}</p>

		</div><!-- ///////////////////////////////////////////////////////// REQ-ONE -->


	</div>

	<div class="calendar-btns  jcc" style="position: absolute; bottom: 1rem">
		<div class="close" (click)="day_modal = undefined">✕</div>
		<div class="req-dayprice">₪ {{day_modal_price}}</div>
	</div>
</div>


<div class="calendar"  [class.hebrew]="lng === 'he'">

	<div class="calendar-wrap">

		<p class="calendar-month">{{showDate('M')}}
			<span  class="calendar-month--ylng">
				<span>{{showDate('Y')}}</span>
				<span class="language"  (click)="nextLNG()">{{lng}}</span> 
			</span>
		</p>

		<div class="calendar-table" [class.calendar--loading]="!requests_render">
			<div class='calendar-days  calendar-days--week'>
				<div *ngFor="let day of dayNames[lng]" 
					class='calendar-day  calendar-day--name'>{{day}}</div>
			</div>

			<div class='calendar-days  calendar-days--month'>

				<div *ngFor="let day of daysArr"
					class='calendar-day' 
					[ngClass]="{
						'inactive ': !day, 
						'beforetoday': isBeforeToday(day),
						'today': todayCheck(day)
					}"
					(click)="viewDay(day?.date())">

					<p style="margin-bottom: 0.5rem">{{day?.date()}}</p>

					<!-- // ALL  -->
					<div class="req-group" *ngIf="isGroup(day?.date())">
						<div *ngFor="let r of prepareDay(day?.date())"
							class="req-dot" 
							[ngClass]="reqLength(r, day)"
							[class.req-dot--notsameday]="r.date.date.d !== day?.date()"
							[class.req-dot--pack]="r.packing.pack"
							[class.req-dot--sameday]="r.packing.pack && r.packing.sameday"
							[class.req-dot--box]="day.date() == r.boxes.date.d"
							>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div class="calendar-btns  p2" style="position: absolute; bottom: 1rem">
			<div class="btn" (click)="monthPager('prev')" [class.hidden]="!checkPrev()">{{LNG[lng].c.back}}</div>
			<a class="new" *ngIf="!day_modal" target="_blank" [href]="'https://app.hamovil-sheli.co.il/' + lng + '/request'"><img src="assets/i/new.svg"></a>
			<div class="btn" (click)="monthPager('next')">{{LNG[lng].c.next}}</div>
		</div>

	</div>

</div>

<div>
	<img style="height: 0px" src="assets/i/new.svg">
	<img style="height: 0px" src="assets/i/tv_view_o.svg">
	<img style="height: 0px" src="assets/i/tv_view_c.svg">
	<img style="height: 0px" src="assets/i/box.svg">
	<img style="height: 0px" src="assets/i/pi_o_ta.svg">
	<img style="height: 0px" src="assets/i/pi_o_to.svg">
	<img style="height: 0px" src="assets/i/pi_o_th.svg">
	<img style="height: 0px" src="assets/i/pi_o_ts.svg">
</div>