<div class="edit-block" *ngIf="show_modal">

	<div class="edit-wrap">
		<div class="edit-item">
			<p>{{FUR[tag.PID % 100].types[+tag.IID].name[FUR[0][lng]]}}</p>
			<img src="assets/f/{{tag.PID}}/i/{{tag.IID}}.gif">
		</div>

		<div class="edit-count">
			<div class="edit-count__block  edit-count--btn" (click)="countChange('m')">—</div>
			<div class="edit-count__block">{{tag.count}}</div>
			<div class="edit-count__block  edit-count--btn" (click)="countChange('p')">+</div>
		</div>

		<div class="edit-options">

			<div class="edit-trash" (click)="trashItem()" [class.edit-trash--true]="tag.trash">
				<div>
					<img [src]="'assets/i/trash_' + (tag.trash ? 't' : 'f') + '.svg'">
				</div>
				<p>{{LNG[lng].r2.ie.tr1}}</p>
				<p>{{LNG[lng].r2.ie.tr2}}</p>
			</div>

			<div class="edit-trash" (click)="daChange()" [class.edit-da--true]="tag.da[0] * 1" [class.edit-da--disabled]="!(tag.da[1] * 1)">
				<div>
					<img [src]="'assets/i/da_' + (tag.da[0] * 1 ? 't' : 'f') + '.svg'">
				</div>
				<p>{{LNG[lng].r2.ie.da1}}</p>
				<p>+ {{LNG[lng].r2.ie.da2}}</p>
			</div>

		</div>

		<div class="edit-delete" (click)="deleteItem()">
			<img src="assets/i/close_x2.svg">
			<div>
				<p>{{LNG[lng].r2.rm.delete}}</p>
			</div>
		</div>

	</div>

	<div class="edit-btns">
		<button class="close" (click)="showModal(false)">OK</button>
	</div>
</div>