// Vars

// #1e1c16
// #dfd7ba

$color_bg_TR: #000
$color_bg_BL: #010e1d

$bglg: linear-gradient(to bottom left, $color_bg_TR, $color_bg_BL)

$color_gold: #a58f43
$color_dark_gold: #1e1c16
$color_green: #24bc68
$color_orange: #ffa500
$color_red: #bc2424
$color_blue: #0a45f9
$color_purple: #7a24bc


// Services
$color_2_TR: #246cbc
$color_2_BL: #7a24bc


$BR: 1.6rem


// Fonts

// @font-face
// 	font-family: 'Rubik'
// 	src: url('/assets/fonts/RR.ttf')
// 	font-style: normal
// 	font-weight: 400

// @font-face
// 	font-family: 'Rubik'
// 	src: url('/assets/fonts/RL.ttf')
// 	font-style: normal
// 	font-weight: 300

// // @font-face
// // 	font-family: 'Lato'
// // 	src: url("/assets/fonts/LLI.ttf")
// // 	font-style: italic
// // 	font-weight: 300

// @font-face
// 	font-family: 'Rubik'
// 	src: url('/assets/fonts/RM.ttf')
// 	font-style: normal
// 	font-weight: 700

$main-font: 'Rubik', sans-serif


// Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, select, textarea
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline
	box-sizing: border-box
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)

	-webkit-border-radius: 0
	border-radius: 0
	-webkit-box-shadow: none
	box-shadow: none
	&:focus
		outline: none !important

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
	display: block

body
	line-height: 1

ol, ul
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after,
q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

a
	text-decoration: none
	-webkit-tap-highlight-color: transparentize(#fff, 1)
	&:link
		color: #fff
	&:visited
		color: $color_gold
	&:hover
		color: $color_orange
	&:active 
		color: $color_blue

button, textarea:focus, input:focus
	outline: none
	font-family: inherit


// Setup
html
	font-size: 10px
	font-family: $main-font
	width: 100%
	height: 100%

body
	width: 100%
	height: 100%
	font-size: 1.6rem
	color: #fff
	// background: $bglg
	background-color: $color_bg_BL

.app-main
	position: absolute
	width: 100%
	height: 100%

.app-wrap
	width: 100%
	height: 100%
	@media screen and (min-width: 480px)
		// background-color: #0d1b2b
		width: 48rem
		margin: 0 auto


/* COMMON */

.p2
	padding: 0 2rem

.flex
	display: flex

.jc
	&sb
		justify-content: space-between
	&c
		justify-content: center !important

.aic
	align-items: center

.w100
	width: 100%

.ta
	&c
		text-align: center !important
	&l
		text-align: left !important
	&r
		text-align: right !important

.ttu
	text-transform: uppercase

.mh4
	min-height: 4rem

.hidden
	visibility: hidden !important

.none
	display: none !important

.dnone
	display: none !important

.fw_
	&eb
		font-weight: 500
	&l
		font-weight: 300

.c_
	&white
		color: #fff
	&gold
		color: $color_gold !important
	&green
		color: $color_green
	&orange
		color: $color_orange
	&purple
		color: $color_purple
	&grey
		color: grey

/* Renderer */

// MIXINS

$cl_bor: 0.2rem
$cl_size: 5rem
=buttonok
	width: $cl_size + 2rem
	height: $cl_size
	font-size: 2rem
	background-color: transparentize(#000, 1)
	color: $color_gold
	line-height: $cl_size - $cl_bor * 2
	border-radius: 2rem
	outline: none
	border: $cl_bor solid $color_gold
	cursor: pointer


$dtp_h: 4rem
$dtp_bor: 0.2rem
=dtpicker
	display: inline-block
	height: $dtp_h
	padding: 0 1.2rem
	border: $dtp_bor solid $color_gold
	border-radius: 0.5rem
	line-height: $dtp_h - 2 * $dtp_bor
	text-align: center
	color: #fff
	text-transform: capitalize
	cursor: pointer
	text-transform: uppercase
	&--correct
		border-color: $color_green