<div class="wrap"  [class.none]="!showMode.map">   <!-- *ngIf="showMode.map" -->

	<div class="gmap">
		<div class="gmap_map"  #gmap></div>
		<!-- <agm-map class="gmap_map"  #gmap
			[latitude]="address.lat || 32.086"
			[longitude]="address.lng || 34.758"
			>
			<!-- (mapReady)="mapReady($event)" -->
		<!-- (dragend)="evDragEnd($event)" -->

		<!-- </agm-map> --> -->

		<div class="gmap-acinput">
			<input type="text"  #acinput
				autocorrect="off"
				autocapitalize="off"
				spellcheck="off"
				[placeholder]="LNG[lng].r1.loc.sph2">
		</div>

		<div class="gmap-info"  *ngIf="showInfo()">
			<div class="gmap-info-address">
				<p>{{getValue('city')}}</p>
				<p><span class="gmap-info-address--street">{{getValue('street')}}</span><span style="margin-left: 1rem">{{getValue('number')}}</span></p>
			</div>
			<div class="gmap-info-ok"  [class.none]="!addressValid()"  (click)="onLocationSelected()">{{LNG[lng].r1.loc.drset}}</div>
		</div>

		<div class="gmap-drag-loading"  *ngIf="showMode.dragLoading"></div>

		<div class="gmap-me"  (click)="myLocation()">
			ME
		</div>

		<div class="gmap_close" (click)="close()">{{LNG[lng].c.close}}</div>
		<!-- <div class="gmap_me" (click)="showMe()">ME</div> -->
		<div class="gmap-aim"></div>
	</div>

</div>