<div class="wrap"  style="display: none"  [class.show]="showMode.map">

	<div class="gmap">
		<div class="gmap_map"  #gmap></div>

		<div class="gmap-acinput"  [class.none]="showMode.onlyRoute">
			<img src="assets/i/search.svg">

			<input type="text"  #acinput
				autocorrect="off"
				autocapitalize="off"
				spellcheck="off"
				[placeholder]="LNG[lng].r1.loc.sph2">

			<img src="assets/i/close_x2.svg" (click)="setInputValue(false, null)">
		</div>

		<div class="gmap-info"  *ngIf="showInfo()"  [class.none]="showMode.onlyRoute">
			<div class="gmap-info-address">
				<p>{{getValue('city')}}</p>
				<p class="flex">
					<span class="gmap-info-address--street">{{getValue('street')}}</span>
					<span style="margin-left: 0.5rem">{{getValue('number')}}</span>
				</p>
			</div>
			<div class="gmap-info-ok"  [class.none]="!addressValid()"  (click)="onLocationSelected()">
				<span>{{LNG[lng].r1.loc.drset}}</span>
			</div>
		</div>

		<div class="gmap-drag-loading"  style="display: none"  [class.show]="(showMode.dragLoading  &&  _idle)"></div>

		<img class="gmap-gps" src="assets/i/gps.svg"  (click)="myLocation()"  [class.none]="showMode.onlyRoute"  [class.none]="!gps_access">

		<div class="gmap-close" (click)="close()">{{LNG[lng].c.close}}</div>
		<img class="gmap-aim" src="assets/i/marker.svg">

	</div>

</div>