<div class="null"
	(click)="showCalendar()"
	[class.null--correct]="selected_day"
	>
	<p>{{showDate()}}</p>
</div>

<div class="calendar" *ngIf="show_calendar" (click)="modalClick($event)">

	<div class="calendar-wrap">
		
		<p class="calendar-date">{{date.format('MMMM ')}} {{date.format('YYYY ')}}</p>
		
		<div class="calendar-table">
			<div class='calendar-days  calendar-days--week'>
				<div *ngFor="let day of dayNames" 
					class='calendar-day  calendar-day--name'>{{day}}</div>
			</div>
			
			<div class='calendar-days'>
				<div *ngFor="let day of daysArr"
				class='calendar-day' 
				(click)="selectDay($event, day)" 
				[ngClass]="{
					'inactive ': !day, 
					'today': todayCheck(day),
					'selected': isSelected(day),
					'beforetoday': isBeforeToday(day)
				}">
				{{day?.date()}}</div>
			</div>
		</div>

		<div class="calendar-btns  p2">
			<div class="btn" (click)="monthPager('prev')" [class.hidden]="!checkPrev()">PREV</div>
			<button class="close" (click)="hideCalendar('close')">OK</button>
			<div class="btn" (click)="monthPager('next')">NEXT</div>
		</div>
		
		
	</div>

</div>