<div>
	<div id='calendar-container'>

		<div>
			<form [formGroup]='dateForm'>
				<input type="text" 
					name='dateFrom' 
					formControlName='dateFrom' 
					placeholder='From Date'>
				<input type="text" 
					placeholder='To Date' 
					name='dateTo' 
					formControlName='dateTo'>
				<button (click)='reserve()'>Reserve</button>
			</form>
		</div>

		<div *ngIf='isReserved' class='reserved'>
			{{isReserved}}
		</div>

		<div>
			<div (click)='previousMonth()'>PREV</div>
			<div>{{date.format('MMMM ')}} {{date.format('YYYY ')}}</div>
			<div (click)='nextMonth()'>NEXT</div>
		</div>

		<div class='calendar-days'>
			<div *ngFor="let day of dayNames" 
				class='calendar-day  calendar-day--name'>{{day}}</div>
		</div>

		<div class='calendar-days'>
			<div *ngFor="let day of daysArr"
				class='calendar-day' 
				(click)='selectedDate(day)' 
				[ngClass]="{'inactive ': !day, 'selected': isSelected(day), 'today': todayCheck(day)}">
			{{day?.date()}}</div>
		</div>

	</div>
</div>